<h1> This is the site for all Pokemasters! </h1>

<!DOCTYPE html>
<html>
<head>
  <title>Isaac's Pokemon Card Trading Site</title>
</head>
<body>
    <div class="nav">
      <h2> This is the site for all Pokemasters! </h2>
      <ul>
        <li>Different Collections</li>
        <li>Search For Cards</li>
        <li>Explanation About Different Editions</li>
        <li>About Us</li>
         </ul>
    </div>
  </body>
</html>

<%= link_to 'Home', root_path %>
